@import'../../styles.scss';

header {
  background-color: $red;
  padding: 24px;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  align-items: center;

  h1 {
    color: $white;
  }

  .nav {
    max-width: 50%;
    justify-self: flex-end;
    font-weight: bolder;

    &-list {
      list-style-type: none;
      display: flex;
      align-items: center;
    }

    &-list__item a {
      display: block;
      text-decoration: none;
      background-color: $white;
      color: $black;
      padding: 24px;
      margin-right: 12px;

      &:hover {
        background-color: lighten($red, 25%)
      }
    }
  }
}
