@import "../../styles.scss";

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;
}

.pagination {
  text-align: center;

  ::ng-deep .ngx-pagination {
    li a:hover:not(.current){
      background-color: lighten($red, 35%);
      border-radius: 4px;
    }
    
    .current {
      background-color: $red;
      border-radius: 4px;
    }
  }
}

app-pokemon-card {
  width: 100%;

  @include desktop {
    width: 19%;
    margin: 6px;
  }
}
