@import "../../styles.scss";

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 12px; 
  max-width: 100%;

  @include desktop {
    flex-wrap: nowrap;
  }

  &__region {
    display: inline-block;
    flex: 1 15%;
    padding: 16px;
    font-weight: bold;
    background-color: #333;
    color: $white;
    text-align: center;
    border: 2px solid darken($white, 25%)
  }
}

.selectedRegion {
  background-color: lighten(#333, 25%);
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: stretch;
  justify-content: center;
}

app-pokemon-card {
  width: 100%;
  
  @include desktop {
    width: 30%;
    margin: 6px;
  }
}

